## Taking input from the user
- entered value is saved as a string

In [1]:
val = input("enter your name")
print(val)
print(type(val))

enter your nameGyanendra
Gyanendra
<class 'str'>

In [2]:
val = input("enter the value:")
print(val)
print(type(val))

enter the value:12
12
<class 'str'>

In [3]:
val = input("enter the value:")
print(val)
print(type(val))

enter the value:[1,2,3,4]
[1,2,3,4]
<class 'str'>

### eval() 
- evaluates the expression within a string

In [4]:
val = "1>2"
val

'1>2'

In [5]:
eval("1>2")

False

In [6]:
# using

a = eval(input("enter the value:"))
print(a)
print(type(a))

enter the value:100
100
<class 'int'>

In [7]:
a = eval(input("enter the value:"))
print(a)
print(type(a))

enter the value:[1,2,3]
[1, 2, 3]
<class 'list'>

## File handling

In [9]:
# File-Handling

file_obj = open('bye.txt', 'w')

for i in range(10):
    file_obj.write("Edureka rocks"+str(i)+'\n')
file_obj.close()

In [10]:
# reading a full file in single shot

file_obj = open('bye.txt', 'r')

data = file_obj.read()
print(data)
file_obj.close()

Edureka rocks0
Edureka rocks1
Edureka rocks2
Edureka rocks3
Edureka rocks4
Edureka rocks5
Edureka rocks6
Edureka rocks7
Edureka rocks8
Edureka rocks9

In [11]:
# reading a full file, line by line

file_obj = open('bye.txt', 'r')

for line_data in file_obj:
    print(line_data)
file_obj.close()

Edureka rocks0

Edureka rocks1

Edureka rocks2

Edureka rocks3

Edureka rocks4

Edureka rocks5

Edureka rocks6

Edureka rocks7

Edureka rocks8

Edureka rocks9

In [12]:
# reading file in chunks

file_obj = open('bye.txt', 'r')

while True:
    line_data = file_obj.read(5)
    if line_data:
        print(line_data)
    else:
        break

file_obj.close()

Edure
ka ro
cks0

Edure
ka ro
cks1

Edure
ka ro
cks2

Edure
ka ro
cks3

Edure
ka ro
cks4

Edure
ka ro
cks5

Edure
ka ro
cks6

Edure
ka ro
cks7

Edure
ka ro
cks8

Edure
ka ro
cks9

In [13]:
# renaming the file
import os
# Syntax: os.rename(old_name, new_name)

os.rename('/Users/gyanendra/Desktop/PyCharmProjects_All/Edureka_DS/Module_2/1. File_handling/ESHA.txt',
          '/Users/gyanendra/Desktop/PyCharmProjects_All/Edureka_DS/Module_2/1. File_handling/GOPI.txt')

In [14]:
fo = open('bye.txt', 'w')

# 1 .closed attribute
print(fo.closed)
fo.close()
print(fo.closed)

# 2. mode
print(fo.mode)

# 3. name of the file
print(fo.name)

False
True
w
bye.txt

### Question:

In [17]:
# Assume bye.txt contains: "Edureka"

fo = open("bye.txt", 'r')
fo.read()
print(fo.read())

### .tell() method

In [18]:
# .tell() method tells the position of the file pointer
# file pointer is a position from where next read or write would happen

fo = open('bye.txt', 'r')
print(fo.tell())
fo.read(2)
print(fo.tell())

fo.close()

0
2

### seek()
- **seek(characters_to_jump, from_where)**: moves the position of file-cursor <from_where> can take 3 values
- 0: means jump from the origin i.e 0 position
- 1: means jump from the current file cursor position in the file
- 2 : means jump from the end of the file.
-  NOTE: make sure you use binary mode for 1 and 2

In [25]:
"""
.
"""

# case: Jumping file cursor from current file position
# <from_where> = 1

file_obj = open('ravi.txt', 'rb')

file_obj.seek(3,0)  # jump 3 positions from beginning
print(file_obj.read())

file_obj.seek(0)  # resets: brings the file pointer at the beginning

print(file_obj.read())
file_obj.close()

b'reka rocks0\nPython rocks1\n\n'
b'Edureka rocks0\nPython rocks1\n\n'

In [28]:
file_obj = open('ravi.txt', 'rb')

file_obj.seek(-4, 2)  # jump(left) 3 positions from the end
print(file_obj.read())

b'cks\n'

## List

In [29]:
a = [11, 22, 33, "hello", "bye"]
a

[11, 22, 33, 'hello', 'bye']

In [30]:
type(a)

list

In [31]:
# Indexing
a[0]

11

In [32]:
a[1]

22

In [33]:
## negative indexes: starts from the end
a[-1]

'bye'

In [34]:
a[-2]

'hello'

In [36]:
# Slicing
# syntax: sequence[start_idx:stop_idx:step]
# stop index value is not included in the output
a = [11, 22, 33, 44, 55, 66, 77, 88]
a[1:3]  # a[1], a[2] .... a[3] is not-included

[22, 33]

In [37]:
a[2:]  # returns value from the index 2 till the end

[33, 44, 55, 66, 77, 88]

In [38]:
a[:3]  # a[0], a[1], a[2]

[11, 22, 33]

In [39]:
a[1:7:2]  # a[1], a[3], a[5]

[22, 44, 66]

In [41]:
# reverse a string or a sequence
a = [1,2,3]
a[::-1]

[3, 2, 1]

In [42]:
b = "hello"
b[::-1]

'olleh'

In [44]:
for elem in range(10,0,-1):
    print(elem)

10
9
8
7
6
5
4
3
2
1

In [46]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### update and delete
- pop
- remove
- del

In [47]:
# updating
a = [11,22,33]
a[0] = "hello"
a

['hello', 22, 33]

In [48]:
# deleting: del a[index]
a = [11, 22, 33]
del a[0]
a

[22, 33]

In [51]:
# pop():pops out the last value
# pop(index): pops out value present at the given index
a = [11, 22, 33, 44]
val = a.pop()
print(val)
print(a)

44
[11, 22, 33]

In [52]:
a = [11, 22, 33, 44]
val = a.pop(2)
print(val)
print(a)

33
[11, 22, 44]

In [53]:
## remove(value)
a = [11, 22, 33, 44, 33, 33]
a.remove(33)
a

[11, 22, 44, 33, 33]

## List Comprehension
- creating a new list from an existing one

In [54]:
a = [1, 2, 3, 4]

[i**2 for i in a]

[1, 4, 9, 16]

In [55]:
a = [1, 2, 3, 4]

[i**2 for i in a if i%2]

[1, 9]

In [56]:
# [i**2 for i in a if i%2]
output = []
for i in [1,2,3,4]:
    if i%2:
        output.append(i**2)
print(output)

[1, 9]

## Adding a new value to a list only
- append
- extend
- insert

In [57]:
# append
a = [1, 2, 3]
a.append(100)
a

[1, 2, 3, 100]

In [61]:
a = [1,2,3]
b = [3,4,5]

print("Length before: ", len(a))
a.append(b)
print(a)
print("Length after append: ", len(a))

Length before:  3
[1, 2, 3, [3, 4, 5]]
Length after append:  4

In [62]:
a[-1]

[3, 4, 5]

In [63]:
a[-1][1]

4

In [65]:
# extend()
a = [1,2,3]
b = [3,4,5]

print("Length before: ", len(a))
a.extend(b)
print(a)
print("Length after append: ", len(a))

Length before:  3
[1, 2, 3, 3, 4, 5]
Length after append:  6

In [66]:
# insert(index, value)
a = [11, 22, 33]
a.insert(1, "edureka")
a

[11, 'edureka', 22, 33]

## sorting
- list.sort() modifies the list directly, this function is present only for list object
- sorted(sequence) : returns a new sorted list, applicable for all sequence

In [68]:
# sort()
a =[11, -1, -3, 10, 78, 45]
a.sort()
a  # ascending order is by default

[-3, -1, 10, 11, 45, 78]

In [70]:
a =[11, -1, -3, 10, 78, 45]
a.sort(reverse=True)
a  # descendig order

[78, 45, 11, 10, -1, -3]

In [71]:
# sorted(seq)
a =[11, -1, -3, 10, 78, 45]
b = sorted(a)
print("new sorted list: ", b)
print("Existing un-sorted list: ", a)

new sorted list:  [-3, -1, 10, 11, 45, 78]
Existing un-sorted list:  [11, -1, -3, 10, 78, 45]

In [73]:
a = [1, 2, 3]
a[::-1]  # reverses the sequence

[3, 2, 1]

In [74]:
# tuple inside a list
a = [(1,2), ("hello", "python")]
len(a)

2

In [77]:
a[1][0]

'hello'

In [78]:
?a.sort

### slicing with negative indexes

In [81]:
a=[1,2,3,4,5]
# now i want to print reverse using -1 to -3
a[-1:-3]  # equivalent to a[-1:-3:1]

[]

In [80]:
a[-1:-3:-1]

[5, 4]

# Tuples

In [1]:
a = (11, 22, 33)
a

(11, 22, 33)

In [2]:
type(a)

tuple

In [3]:
max(a)

33

In [4]:
min(a)

11

In [5]:
a = (11, 22, 33, 'a')
max(a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [6]:
len(a)

4

In [8]:
# slicing: same as we had discussed in the List topic
a = (11, 22, 33, 44, 55, 66)
a[1:4]

(22, 33, 44)

In [9]:
a[:2]

(11, 22)

In [10]:
a[1:]

(22, 33, 44, 55, 66)

In [11]:
#sorting
a = (11, -22, -33, 66, 55, 4)
sorted(a)  # returns a new list

[-33, -22, 4, 11, 55, 66]

In [12]:
sorted(a, reverse=True)

[66, 55, 11, 4, -22, -33]

In [13]:
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [15]:
# concatenation
(1,2) + (3,4)

(1, 2, 3, 4)

In [16]:
# membership testing
1 in (1,2,3)

True

In [17]:
# Tuples are immutable therefore it can't be updated
a = (11, 22, 33)
a[0] = "hello"

TypeError: 'tuple' object does not support item assignment

In [19]:
# list inside a tuple
tup = ([11, 22], "hello")
#tup[0] = "hello" # Not Permitted
tup[0][1] = "strange"  # nested list contents can be modified.
tup

([11, 'strange'], 'hello')

In [25]:
# list inside a tuple
a = [11, 22]
tup = (a, "hello")
a.append(100)
print(a)
print(tup)

[11, 22, 100]
([11, 22, 100], 'hello')

In [20]:
## Tuples to list
a = (11, 22, 33)

b = list(a)  # creates a new list
print(b)

[11, 22, 33]

In [21]:
## list to tuple
mylist = [11, 22, 33]
mytuple = tuple(mylist)
mytuple

(11, 22, 33)

# Strings

In [26]:
a = "edureka"
a

'edureka'

In [34]:
# Example 1: double quotes within a string : Solution 1: use triple quoted string
def func():
    """
    this is a sample "string"
    with double quotes
    """

# Example 2: double quotes within a string
"this is a \" string"

'this is a " string'

In [27]:
type(a)

str

In [28]:
len(a)

7

In [29]:
max(a)

'u'

In [30]:
list(a)

['e', 'd', 'u', 'r', 'e', 'k', 'a']

In [35]:
# check if a sub-string or a letter is part of original string or not

a = "edureka rocks"
"ro" in a

True

In [36]:
'u' in a

True

In [37]:
# slicing : same as for list and tuple

### printing a dynamic string

In [40]:
print("My name is Python and age is 30yrs old")

My name is Python and age is 30yrs old

In [42]:
name = "Python"  # type is str
age = 30  # type is int

print("My name is %s and age is %syrs "%(name, age))

My name is Python and age is 30yrs

In [44]:
# enforce the type of the data
name = "Python"  # type is str
age = "30"  # type is string ########

# %d is to match integers
print("My name is %s and age is %d yrs "%(name, age))

TypeError: %d format: a number is required, not str

## dir()
- returns alphabetized list of all the methods and attributes available for that object

In [45]:
mytuple = (1,2)
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [46]:
tup = (11, 11, 11, 22)
tup.count(11)

3

In [51]:
tup.index(22)  # position

3

In [52]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
mystr = "hello"

In [58]:
# check documentation
?mystr.split

In [63]:
a = "edureka rocks"
a.capitalize()

'Edureka rocks'

In [64]:
# count
a = "edureka rocks"
a.count("e")

2

In [75]:
# encode and decode

import base64
name = b"gyanendra"
encoded_data = base64.encodebytes(name)
encoded_data

b'Z3lhbmVuZHJh\n'

In [76]:
base64.decodebytes(encoded_data)

b'gyanendra'

In [77]:
# encode and decode inbuilt method
a = "edureka"
a.encode('utf-8')

b'edureka'

In [78]:
# replace(old, new, count)
a = "edureka"
a.replace('e', 'X')

'XdurXka'

In [79]:
a.replace('e', 'X', 1)

'Xdureka'

In [80]:
# upper()
a = "edureka"
a.upper()

'EDUREKA'

In [81]:
a = "HELLO"
a.lower()

'hello'

In [82]:
a = "1123"
a.isnumeric()

True

In [83]:
# index()
a = "hello"
a.index('h')

0

In [87]:
a.index('x')

ValueError: substring not found

In [85]:
# find()
a = "hello"
a.find('h')

0

In [86]:
a = "hello"
a.find('x')

-1

In [84]:
# reverse
a = "edureka"
a[::-1]

'akerude'

In [88]:
"hello " + "python"

'hello python'

In [89]:
"hello"*3

'hellohellohello'

In [94]:
#how to find string with "esh"
a = "ramesh, suresh, rahesh, ajay, sanjay"
words = a.split(',')
for elem in words:
    if elem.endswith("esh"):
        print(elem.strip()) # removes the spaces around the string

ramesh
suresh
rahesh

## Sets

In [95]:
s = set("welcome to Edureka")
s

{' ', 'E', 'a', 'c', 'd', 'e', 'k', 'l', 'm', 'o', 'r', 't', 'u', 'w'}

In [96]:
# using list
s = set([11, 11, 11, 22, 22])
s

{11, 22}

In [98]:
# dropping duplicates from a sequence
mylist = [1, 1, 1, 2, 3, 4, 5]
list(set(mylist))

[1, 2, 3, 4, 5]

In [99]:
## Union
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a|b

{1, 2, 3, 4, 5, 6}

In [100]:
## intersection
a & b

{3, 4}

In [103]:
# Program: find common elements between 2 list
a = [1, 2, 3, 4, 5]
b = [1, 5, 20, 34]

# method 1
output = []
for i in a:
    for j in b:
        if j == i:
            output.append(j)
output

[1, 5]

In [104]:
# Method 2:
# Pythonic way
list(set(a) & set(b))

[1, 5]

In [106]:
a = {1,2,3,4}
b = {3,4,5,6}
a.intersection(b)

{3, 4}

In [108]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [109]:
# elements present in A but not in B
A = {1,2,3,4,5}
B = {2,4,5,6,7,8,89,0}
A - B

{1, 3}

In [111]:
A.difference(B)

{1, 3}

In [110]:
# elements present in B but not in A
B - A

{0, 6, 7, 8, 89}

In [112]:
B.difference(A)

{0, 6, 7, 8, 89}

In [113]:
# subset
A = {1,2,3,4,5}
B = {3,4,5}
B.issubset(A)

True

In [127]:
# superset
A.issuperset(B)

False

In [128]:
# membership testing
A = {1,2,3,4}
1 in A

True

In [129]:
# adding an element to a set
A = {1,2,3}
A.add(100)

In [130]:
A

{1, 2, 3, 100}

In [131]:
# remove
A.remove(1)

In [132]:
A

{2, 3, 100}

In [133]:
A = {1,2,3,4}
A.remove(100)  # error for non existing values

KeyError: 100

In [134]:
# discard
A = {1,2,3,4}
A.discard(1)
A

{2, 3, 4}

In [135]:
A.discard(100)  # No-error for non existing values

In [136]:
A

{2, 3, 4}

In [161]:
#what is symmetric difference in set?
A = {1,2,3,4}
B = {3,4,5,6}
# Symmetric difference: (A - B) U (B - A)
A.symmetric_difference(B)

{1, 2, 5, 6}


# Dictionaries
- key has to be unique and immutable
- tuple, numbers, strings can be dict keys as these are immutable objects
- list cannot be dict key as it is mutable
- value can be any thing i.e mutable or immutable
- dictionaries are unordered collection of objects
- there is no indexing concept here
- there if no first or last value concept
- dictionary is a mutable object i.e it can be modified

In [137]:
# {key:value, key:value}
d = {1:11, (1,2):"hello", 23:345, "edureka":500}
d

{1: 11, (1, 2): 'hello', 23: 345, 'edureka': 500}

In [138]:
type(d)

dict

In [140]:
# M1: access a value: dict[key]
d["edureka"]

500

In [141]:
d[1]

11

In [145]:
# M2: accessing a value
d.get("edureka")

500

In [146]:
d.get("wrong key", "default value")

'default value'

In [142]:
# update
d[1] = "new value"
d

{1: 'new value', (1, 2): 'hello', 23: 345, 'edureka': 500}

In [143]:
# delete a key-value pair
del d[1]
d

{(1, 2): 'hello', 23: 345, 'edureka': 500}

In [144]:
len(d)

3

### iterating over  dictionary

In [147]:
d = {1:11, (1,2):"hello", 23:345, "edureka":500}
d

{1: 11, (1, 2): 'hello', 23: 345, 'edureka': 500}

In [148]:
# only values
for elem in d.values():
    print(elem)

11
hello
345
500

In [149]:
# only keys
# M1
for elem in d:
    print(elem)

1
(1, 2)
23
edureka

In [150]:
# M2:
for elem in d.keys():
    print(elem)

1
(1, 2)
23
edureka

In [151]:
# Both keys, value pairs as a tuple
# d.items() returns list of tuple (key,value)

for key, value in d.items():
    print(key, value)

# [(key, value), (key, value), ...]

1 11
(1, 2) hello
23 345
edureka 500

In [153]:
list(d.values())

[11, 'hello', 345, 500]

In [154]:
d.keys()

dict_keys([1, (1, 2), 23, 'edureka'])

In [155]:
list(d.keys())

[1, (1, 2), 23, 'edureka']

In [156]:
d.items()

dict_items([(1, 11), ((1, 2), 'hello'), (23, 345), ('edureka', 500)])

In [157]:
list(d.items())

[(1, 11), ((1, 2), 'hello'), (23, 345), ('edureka', 500)]

In [160]:
# sorted() works on keys only
# Note:works only when all keys are of same type
d = {1:11, 100:"hello", 23:345, 45:500}
sorted(d)

[1, 23, 45, 100]

In [169]:
# Insert key with a value of default if key is not in the dictionary.
# d.setdfault(key, default_value)
d = {1:11, 2:33}
?d.setdefault

In [167]:
d.setdefault(100, "bingo")
d

{1: 11, 2: 33, 100: 'bingo'}

In [168]:
d.setdefault(1, "bingo")
d

{1: 11, 2: 33, 100: 'bingo'}

In [170]:
# syntax a[start:stop:step]
# if start is missing then consider from beginning
# if stop is missing then consider till the end
# if step is missing then consider it to be 1(default)

a = [1,2,3,4,5]
a[::3]

[1, 4]

In [171]:
a[::2]

[1, 3, 5]