In [10]:
review_1 = "The movie was good and we really like it"
review_2 = "the movie was good but the ending was boring"
review_3 = "we did not like the movie as it was too lengthy"

In [28]:
from nltk import word_tokenize
import pandas as pd

In [12]:
r1w_t = word_tokenize(review_1)
print(r1w_t)
r2w_t = word_tokenize(review_2)
print(r2w_t)
r3w_t = word_tokenize(review_3)
print(r3w_t)

['The', 'movie', 'was', 'good', 'and', 'we', 'really', 'like', 'it']
['the', 'movie', 'was', 'good', 'but', 'the', 'ending', 'was', 'boring']
['we', 'did', 'not', 'like', 'the', 'movie', 'as', 'it', 'was', 'too', 'lengthy']

In [24]:
reviews_tokens = set(r1w_t).union(set(r2w_t)).union(set(r3w_t))
print(reviews_tokens)

{'lengthy', 'too', 'did', 'movie', 'like', 'The', 'but', 'it', 'not', 'we', 'ending', 'and', 'good', 'really', 'boring', 'was', 'as', 'the'}

In [40]:
r1w_t_dict = dict.fromkeys(reviews_tokens,0)
r2w_t_dict = dict.fromkeys(reviews_tokens,0)
r3w_t_dict = dict.fromkeys(reviews_tokens,0)

print(r1w_t_dict)
print(r2w_t_dict)
print(r3w_t_dict)

{'lengthy': 0, 'too': 0, 'did': 0, 'movie': 0, 'like': 0, 'The': 0, 'but': 0, 'it': 0, 'not': 0, 'we': 0, 'ending': 0, 'and': 0, 'good': 0, 'really': 0, 'boring': 0, 'was': 0, 'as': 0, 'the': 0}
{'lengthy': 0, 'too': 0, 'did': 0, 'movie': 0, 'like': 0, 'The': 0, 'but': 0, 'it': 0, 'not': 0, 'we': 0, 'ending': 0, 'and': 0, 'good': 0, 'really': 0, 'boring': 0, 'was': 0, 'as': 0, 'the': 0}
{'lengthy': 0, 'too': 0, 'did': 0, 'movie': 0, 'like': 0, 'The': 0, 'but': 0, 'it': 0, 'not': 0, 'we': 0, 'ending': 0, 'and': 0, 'good': 0, 'really': 0, 'boring': 0, 'was': 0, 'as': 0, 'the': 0}

In [41]:
for token_1 in r1w_t:
    r1w_t_dict[token_1] += 1
print(r1w_t_dict)

{'lengthy': 0, 'too': 0, 'did': 0, 'movie': 1, 'like': 1, 'The': 1, 'but': 0, 'it': 1, 'not': 0, 'we': 1, 'ending': 0, 'and': 1, 'good': 1, 'really': 1, 'boring': 0, 'was': 1, 'as': 0, 'the': 0}

In [42]:
for token_2 in r2w_t:
    r2w_t_dict[token_2] += 1
print(r2w_t_dict)

{'lengthy': 0, 'too': 0, 'did': 0, 'movie': 1, 'like': 0, 'The': 0, 'but': 1, 'it': 0, 'not': 0, 'we': 0, 'ending': 1, 'and': 0, 'good': 1, 'really': 0, 'boring': 1, 'was': 2, 'as': 0, 'the': 2}

In [43]:
for token_3 in r3w_t:
    r3w_t_dict[token_3] += 1
print(r3w_t_dict)

{'lengthy': 1, 'too': 1, 'did': 1, 'movie': 1, 'like': 1, 'The': 0, 'but': 0, 'it': 1, 'not': 1, 'we': 1, 'ending': 0, 'and': 0, 'good': 0, 'really': 0, 'boring': 0, 'was': 1, 'as': 1, 'the': 1}

In [44]:
reviews_Dict_df = pd.DataFrame([r1w_t_dict,r2w_t_dict,r3w_t_dict])
reviews_Dict_df

,The,and,as,boring,but,did,ending,good,it,lengthy,like,movie,not,really,the,too,was,we
0,1,1,0,0,0,0,0,1,1,0,1,1,0,1,0,0,1,1
1,0,0,0,1,1,0,1,1,0,0,0,1,0,0,2,0,2,0
2,0,0,1,0,0,1,0,0,1,1,1,1,1,0,1,1,1,1

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')
tf_matrix = tf_vect.fit_transform([review_1,review_2,review_3])
tf_names = tf_vect.get_feature_names()
print(tf_names)

['boring', 'did', 'ending', 'good', 'lengthy', 'like', 'movie', 'really']

In [56]:
tf_df = pd.DataFrame(tf_matrix.toarray(),columns=tf_names)
tf_df

,boring,did,ending,good,lengthy,like,movie,really
0,0.000000,0.000000,0.000000,0.480458,0.000000,0.480458,0.373119,0.631745
1,0.584483,0.000000,0.584483,0.444514,0.000000,0.000000,0.345205,0.000000
2,0.000000,0.584483,0.000000,0.000000,0.584483,0.444514,0.345205,0.000000