### My First Python Code

In [5]:
print("Hello World")

Hello World

In [7]:

print("Welcome in the Python Programming course")

Welcome in the Python Programming course

In [8]:
# this is a single line comment
print("My code")
a = 100
print(a)

My code
100

#### Multi Line comments

In [9]:
class Edureka:
    """
    this is an
    edureka class
    and this is a multi line comment
    """

## Indentation
- default is 4 spaces

In [ ]:
age =23
# In C language
if (age > 18)
            { a = 100
                    printf("hello")}
        else{
                
                }

In [14]:
# in Python Identation is mandatory
age = 23
if age > 18:
    a = 100
    print("Hello")
else:
    print(" I am else block")

Hello

## Identifier
- user defined names

In [15]:
hello = "Python"
hello

'Python'

In [19]:
hello2 = "number in name is allowed"
hello2

'number in name is allowed'

## Variables
- you don't have to declare the type of the variable
- Python is a **Dynamically typed language**, it means a variable can store any type of the value at any stage

In [21]:
a = 10
print(a)
print(type(a))
a = "hello"
print(a)
print(type(a))

10
<class 'int'>
hello
<class 'str'>

### Python is a Strongly typed language

In [22]:
A = 10  # int
B = "hello" # string
A + B

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
10 + 10

20

In [24]:
"hello" + " learners"

'hello learners'

In [25]:
a = 10
print(type(a))

<class 'int'>

### Numbers

In [1]:
a = 12
a

12

In [2]:
12 + 13j

(12+13j)

In [3]:
a = 12.34
a

12.34

### Strings

In [4]:
a = "hello"
a

'hello'

In [5]:
b = "father's name"
b

"father's name"

### strings, numbers and tuples are immutable

In [6]:
a = "hello"
a = "bye"
print(a)

bye

### tuples

In [7]:
a = (10, 10.23, "hello")
a

(10, 10.23, 'hello')

In [8]:
type(a)

tuple

## Lists

In [9]:
mylist = [1, 12.23, "hello", (100,200), [34,56]]
mylist

[1, 12.23, 'hello', (100, 200), [34, 56]]

In [10]:
type(mylist)

list

## dictionaries

In [11]:
d = {1:100, "key":300, 3:400}
d

{1: 100, 'key': 300, 3: 400}

In [12]:
type(d)

dict

In [13]:
# Seraching is done in O(1) Time.

### Sets
- unordered collection of unique elements

In [14]:
s = {1, 1, 2, 2, 3, 4, 5}
s

{1, 2, 3, 4, 5}

In [15]:
type(s)

set

In [17]:
mylist = [1, 1, 2, 3, 4, 4, 4, 4]

myset = set(mylist)
mylist = list(myset)
mylist

[1, 2, 3, 4]

In [18]:
# sets application for integers only or it will give unique values for strings as well

mylist = ["hello","hello", "bye"]
set(mylist)

{'bye', 'hello'}

In [19]:
set("hello")

{'e', 'h', 'l', 'o'}

# Operators

### Arithematic Operators

In [20]:
# % remainder
15%4

3

In [21]:
17%4

1

In [22]:
# ** : raising the power
2**3  # 2^3

8

In [23]:
3**3

27

In [24]:
# / vs //
12/5

2.4

In [25]:
12//5

2

## Assignment operators

In [26]:
a = 10
b = a  # assigning value from a to b
print(a)
print(a)

10
10

In [27]:
# shorthand notation
a = 10
a += 1    # a = a + 1
print(a)

11

In [28]:
a = 20
a *= 2  # a = a * 2
print(a)

40

## comparison operators

In [29]:
age = 23
if age >= 18:
    print("You can vote")

You can vote

In [30]:
# ==
12 == 13

False

In [31]:
12 == 12

True

In [32]:
12 > 1

True

In [33]:
12 < 1

False

## Logical Operators

In [35]:
# 1. and

age = 15
if age >= 13 and age <= 19:
    print("Teenager")
else:
    print("Not a teenager")

Teenager

In [37]:
# 2. or

age = 21
if age >= 13 or age <= 19:
    print("Teenager")
else:
    print("Not a teenager")

Teenager

In [38]:
# 3. not  : it converts True to False or vice-versa.
age=19
if age >= 18:
    print("You can vote")

You can vote

In [40]:
age=19
if not age >= 18:
    print("You can vote")
else:
    print("Nope")

Nope

## Binary Operators

In [41]:
# & binary AND

a = 8
b = 9
a & b

8

In [42]:
bin(8)

'0b1000'

In [43]:
bin(9)

'0b1001'

In [44]:
# Binary OR |  is used to convert a bit from low(0) to high(1)

a = 8  # 1000
b = 9  # 1001  => 1001
8 | 9

9

## Identity operators

In [45]:
a = [1, 2, 308497498495775]
b = [1, 2, 308497498495775]
print(a == b)
print(a is b)

True
False

In [46]:
id(a)

4621326848

In [47]:
id(b)

4621333920

In [ ]:
# question if a = b then  a is b true

In [48]:
a = [1, 2, 308497498495775]
b = a
print(a == b)
print( a is b)

True
True

In [49]:
id(a)

4619895024

In [50]:
id(b)

4619895024

### membership operator

In [52]:
a = [1, 2, 3]
1 in a

True

In [53]:
12 in a

False

In [54]:
12 not in a

True

## Conditional statements
- if
- elif
- else

In [55]:
#age = int(input("enter your age:"))
age = 53
if age <=2:
    print("Infant")
elif age > 2 and age<13:
    print("kid")
elif age >= 13 and age < 18:
    print("teenager")
else:
    print("An adult")

An adult

## while loop

In [58]:
count = 5
while count > 0:
    print("Python Rocks")
    count -= 1   # count = count - 1

print("End of the code")

Python Rocks
Python Rocks
Python Rocks
Python Rocks
Python Rocks
End of the code

## Guessing a number game(HomeWork)

In [59]:
correct_answer = 15
number = int(input("Input Number:"))
print(number)

# while loop can be used to implement this

Input Number:10
10

## for loop
- used to iterate over a sequence
- it gets one value at a time

In [61]:
mylist = [11, 22, 33, 44, 55]
for i in mylist:
    print(i)
    print(i+100)

11
111
22
122
33
133
44
144
55
155

In [65]:
# range(10)  # [0, 1, 2, 3...9]
number  = int(input("calculate factorial for:"))
fact = 1
for i in range(1,number+1):
    fact *= i  # fact = fact * i  # 1*2*3*4
print(fact)

calculate factorial for:5
120

In [64]:
for i in range(1,5):  # [1, 2, 3, 4]
    print(i)

1
2
3
4

## Nested Loops

In [66]:
for i in range(5):  # [0,1,2,3,4]
    for j in range(3):  # [0,1,2]
        print(i,j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
4 0
4 1
4 2

## ATM Example(Homework)

In [67]:
pin = 1234
balance = 20000

## Loop control statements

#### break

In [70]:
for i in range(2,10):  # [2,3,,,,9]
    if i ==5:
        break
    print(i)
print("end of the code")

2
3
4
end of the code

#### continue

In [71]:
for i in range(2,10):  # [2,3,,,,9]
    if i ==5:
        continue
    print(i)
print("end of the code")

2
3
4
6
7
8
9
end of the code

#### pass

In [72]:
for i in range(10):
    pass