In [1]:
import numpy as np
import pandas as pd

In [2]:
class BayesTable(pd.DataFrame):


    def __init__(self, hypo, prior=1):
        columns = ['hypo', 'prior', 'likelihood', 'unnorm', 'posterior']
        super().__init__(columns=columns)
        self.hypo = hypo
        self.prior = prior
    
    def mult(self):
        self.unnorm = self.prior * self.likelihood
        
    def norm(self):
        nc = np.sum(self.unnorm)
        self.posterior = self.unnorm / nc
        return nc
    
    def update(self):
        self.mult()
        return self.norm()
    
    def reset(self):
        return BayesTable(self.hypo, self.posterior)

In [3]:
table = BayesTable(['Urn 1', 'Urn 2'])
table

    hypo  prior likelihood unnorm posterior
0  Urn 1      1        NaN    NaN       NaN
1  Urn 2      1        NaN    NaN       NaN

In [4]:
table.likelihood = [3/4, 1/2]
table

    hypo  prior  likelihood unnorm posterior
0  Urn 1      1        0.75    NaN       NaN
1  Urn 2      1        0.50    NaN       NaN

In [5]:
table.mult()
table

    hypo  prior  likelihood  unnorm posterior
0  Urn 1      1        0.75    0.75       NaN
1  Urn 2      1        0.50    0.50       NaN

In [6]:
table.norm()

1.25

In [7]:
table

    hypo  prior  likelihood  unnorm  posterior
0  Urn 1      1        0.75    0.75        0.6
1  Urn 2      1        0.50    0.50        0.4

In [8]:
table2 = table.reset()
table2

    hypo  prior likelihood unnorm posterior
0  Urn 1    0.6        NaN    NaN       NaN
1  Urn 2    0.4        NaN    NaN       NaN

In [9]:
table2.likelihood = [1/4, 1/2]

In [10]:
table2.update()

0.35

In [11]:
table2

    hypo  prior  likelihood  unnorm  posterior
0  Urn 1    0.6        0.25    0.15   0.428571
1  Urn 2    0.4        0.50    0.20   0.571429