# Module 1: Introduction to Graphical Model - Demo on Joint Probability Distribution

In [1]:
# Reading the Data using pandas
import pandas as pd
data = pd.read_csv('Purchase Behavior.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [2]:
#Joint Probability
joint_prob_Gender = data.groupby(['Gender','Purchased']).size()/400
print("Joint Probability based on Gender \n", joint_prob_Gender, end="\n")

Joint Probability based on Gender
 Gender  Purchased
Female  0            0.3175
        1            0.1925
Male    0            0.3250
        1            0.1650
dtype: float64

In [3]:
#Joint Probability 
joint_prob_Age = data.groupby(['Age','Purchased']).size()/400
print("Joint Probability based on Age \n ", joint_prob_Age, end="\n")

Joint Probability based on Age
  Age  Purchased
18   0            0.0125
19   0            0.0175
20   0            0.0175
21   0            0.0100
22   0            0.0125
23   0            0.0150
24   0            0.0225
25   0            0.0150
26   0            0.0400
27   0            0.0275
     1            0.0050
28   0            0.0275
     1            0.0025
29   0            0.0225
     1            0.0025
30   0            0.0225
     1            0.0050
31   0            0.0250
     1            0.0025
32   0            0.0100
     1            0.0125
33   0            0.0200
     1            0.0025
34   0            0.0125
     1            0.0025
35   0            0.0725
     1            0.0075
36   0            0.0175
     1            0.0125
37   0            0.0325
                   ...
42   1            0.0150
43   0            0.0025
     1            0.0050
44   0            0.0025
     1            0.0025
45   0            0.0025
     1            0.0150
46   0            0.0125
     1            0.0175
47   0            0.0050
     1            0.0300
48   0            0.0025
     1            0.0325
49   0            0.0050
     1            0.0200
50   0            0.0025
     1            0.0075
51   0            0.0025
     1            0.0050
52   0            0.0025
     1            0.0125
53   1            0.0125
54   1            0.0100
55   1            0.0075
56   1            0.0075
57   1            0.0125
58   1            0.0150
59   0            0.0050
     1            0.0125
60   1            0.0175
Length: 70, dtype: float64

In [4]:
#Joint Probability
Joint_Prob_Age_Gender = data.groupby(['Age','Gender','Purchased']).size()/400
print("Joint Probability based on Age, Gender \n", Joint_Prob_Age_Gender, end="\n")

Joint Probability based on Age, Gender
 Age  Gender  Purchased
18   Female  0            0.0075
     Male    0            0.0050
19   Female  0            0.0050
     Male    0            0.0125
20   Female  0            0.0100
     Male    0            0.0075
21   Female  0            0.0050
     Male    0            0.0050
22   Female  0            0.0075
     Male    0            0.0050
23   Female  0            0.0100
     Male    0            0.0050
24   Female  0            0.0100
     Male    0            0.0125
25   Male    0            0.0150
26   Female  0            0.0225
     Male    0            0.0175
27   Female  0            0.0150
             1            0.0050
     Male    0            0.0125
28   Female  0            0.0175
     Male    0            0.0100
             1            0.0025
29   Female  0            0.0100
     Male    0            0.0125
             1            0.0025
30   Female  0            0.0075
     Male    0            0.0150
             1            0.0050
31   Female  0            0.0125
                           ...
48   Male    0            0.0025
             1            0.0125
49   Female  1            0.0075
     Male    0            0.0050
             1            0.0125
50   Female  0            0.0025
             1            0.0075
51   Female  0            0.0025
             1            0.0025
     Male    1            0.0025
52   Female  0            0.0025
             1            0.0100
     Male    1            0.0025
53   Female  1            0.0100
     Male    1            0.0025
54   Female  1            0.0075
     Male    1            0.0025
55   Female  1            0.0050
     Male    1            0.0025
56   Female  1            0.0025
     Male    1            0.0050
57   Female  1            0.0075
     Male    1            0.0050
58   Female  1            0.0125
     Male    1            0.0025
59   Female  0            0.0050
             1            0.0075
     Male    1            0.0050
60   Female  1            0.0050
     Male    1            0.0125
Length: 119, dtype: float64