# Module 2: Sequences and File operations

### taking using input from keyboard
- input("message")
- entered value would be converted to string.
- Method 1: use typecasting
- Method 2: eval() function to get the original value back
- don't use eval() when the expected value is a string already

In [8]:
age = int(input("enter your age :"))
# Method 1: typecasting the value to an integer
print(type(age))
if age >= 18:
    print("You can Vote")
else:
    print("You can't vote")

enter your age :21
<class 'int'>
You can Vote

In [6]:
int("123") # converts integer in a string to an integer object.

123

#### Method 2: using evaluate function i.e eval()
- eval() evaluates the expression within a string, or you can say it removes the quotes.

In [12]:
a = "123"
print(type(a))
b = eval(a)
print(type(b))

<class 'str'>
<class 'int'>

In [15]:
a = "[1,2,3]"
print(type(a))
b = eval(a)
print(type(b))
print(b)

<class 'str'>
<class 'list'>
[1, 2, 3]

## File handling

In [18]:
# Refer .py files shared by the Trainer

## List
- ordered collection of objects

In [19]:
# create
a = [1, 2, "hello", 12.34]
print(type(a))

<class 'list'>

In [20]:
a

[1, 2, 'hello', 12.34]

In [21]:
# Indexing : it starts from 0
a = [1, 2, "hello", 12.34, 100, 200]
# access first value : list[index]
a[0]

1

In [22]:
a[1]  # second value

2

In [23]:
# access the values from the end of the list
a[-1]  # last value can be accessed via negative index

200

In [24]:
a[-2]

100

In [25]:
a[4]

100

### slicing: extracting some elements of a sequence
- like reading specific values in array by providing indexes
- this concept is exactly the same for lists, tuples and strings
- syntax: list[start_index : stop_index : step]
- value present at stop index would be excluded
- default value of step is 1
- step means difference between consecutive indexes.

In [26]:
a = [11, 22, 33, 44, 55, 66, 77]
a[1:5]  # equivalent o a[1:5:1]

[22, 33, 44, 55]

In [29]:
a[1:6:2]   # a[1], a[3], a[5]

[22, 44, 66]

In [31]:
# if stop index is missing then it would consider values till the end
a = [11, 22, 33, 44, 55, 66, 77]
a[1:]

[22, 33, 44, 55, 66, 77]

In [32]:
a[:4]  # means consider from the beginning and till the index 3

[11, 22, 33, 44]

In [33]:
a[:]  # consider the whole list

[11, 22, 33, 44, 55, 66, 77]

In [36]:
# start and step without a stop
a = [11, 22, 33, 44, 55, 66, 77]
a[1::2]  # a[1], a[3], a[5]

[22, 44, 66]

In [38]:
# updating a list: list[index] = new_val
a = [11, 22, 33]
a[1] = "edureka"
a

[11, 'edureka', 33]

In [40]:
# delete an element from a list : del(list[index])
a = [11,22,33]
del(a[1])
a

[11, 33]

In [42]:
# removing an element from a list
# list.remove(element), it removes only the first occurence of that element
# remove won't return the deleted/removed value

a = [1, 2, 3, 1, 1]
a.remove(1)
a

[2, 3, 1, 1]

In [47]:
# pop()  pops out last element
# pop(index) popts out the element at the given index
# pop returns the deleted/removed value

a = [11, 22, 33, 44]
print(a.pop())
print(a)

44
[11, 22, 33]

In [50]:
a = [11, 22, 33, 44]
print(a.pop(2))
print(a)

33
[11, 22, 44]

In [44]:
# drop duplicates from a list
a = [1, 1, 2, 3, 3, 2, 3, 4, 4]
list(set(a))

[1, 2, 3, 4]

## List comprehension
- creating a new list from an existing list
- synatx:
[function for i in my_list "filter"]
- filter is optional

In [52]:
a = [1,2,3,4,5,6,7,8]
# create a list having squared elements
b = [i**2 for i in a]
b

[1, 4, 9, 16, 25, 36, 49, 64]

In [53]:
# create a list having squared elements but element is greater than 4
b = [i**2 for i in a if i > 4]
b

[25, 36, 49, 64]

In [54]:
# equivalent code
b = []
for i in a:
    if i > 4:
        b.append(i**2)
print(b)

[25, 36, 49, 64]

In [55]:
# adding the value at end
# append(value)
a = [1,2,3]
a.append(100)
a

[1, 2, 3, 100]

In [59]:
a = [1, 2, 3]
b = [4, 5, 6]
print("original length:",len(a))
a.append(b)
print(a)
print("length after append:",len(a))

original length: 3
[1, 2, 3, [4, 5, 6]]
length after append: 4

In [61]:
# mylist.extend(another_list)
a = [1,2,3]
b = [4,5,6]
print("original length:",len(a))
a.extend(b)
print(a)
print("length after append:",len(a))

original length: 3
[1, 2, 3, 4, 5, 6]
length after append: 6

In [63]:
# adding value at a particular index
# list.insert(index, value)
a = [11, 22, 33, 44]
a.insert(2, "edureka rocks")
a

[11, 22, 'edureka rocks', 33, 44]

In [65]:
# sorting a list
# Condition: all the values in a list must be of same type
# Method 1: sorted(list) returns a new list in ascending order
a = [1,2,-1, -19, 300, -8974]
print(sorted(a))
print(a)

[-8974, -19, -1, 1, 2, 300]
[1, 2, -1, -19, 300, -8974]

In [70]:
# descending order
sorted(a, reverse=True)

[300, 2, 1, -1, -19, -8974]

In [76]:
# Method 2: sorting a list
# syntax: list.sort() , this modifies the list directly
a = [1,2,-1, -19, 300, -8974]
a.sort()
a

[-8974, -19, -1, 1, 2, 300]

In [78]:
a.sort(reverse=True)
a

[300, 2, 1, -1, -19, -8974]

In [82]:
# concantenation : adding two lists
# this is same as list.extend(another_list)
a = [1,2]
b = [3, 4]
c = a + b
c

[1, 2, 3, 4]

In [80]:
# repetition 
a = [1,2]
c = a*3
c

[1, 2, 1, 2, 1, 2]

In [81]:
# membership checking: checking if an element is a part..
# ..of a sequence(list, tuple or string)
# synatx: element in sequence 
# ex: 1 in [1,2,3]
1 in [1,2,3]

True

In [83]:
11 in [1,2,3]

False

In [84]:
# tuple inside a list
a = [1,2,3, (11, 22, 33)]
a[-1]

(11, 22, 33)

In [85]:
a[-1][1]

22

In [86]:
a[-1][0]

11

In [88]:
# can't modify a tuple
a[-1][0] = "not possible"

TypeError: 'tuple' object does not support item assignment

# how to find all the methods and attributes present on an Object ?

In [89]:
dir([1,2])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Tuple
- ordered collection of objects

In [90]:
a = (1, 2, "hello", 12.34)
a

(1, 2, 'hello', 12.34)

In [91]:
type(a)

tuple

In [92]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [94]:
a = (1,2,3,4,5,1,2,1,2,2,2,2,2)
a.count(2)  # returns count of an element

7

In [95]:
# list 
a = [1,2,3,4,5,1,2,1,2,2,2,2,2]
a.count(2)

7

In [100]:
# index(value): returns first occurence index of the given value
# list
a = [11,22,33,44,11]
a.index(11)

0

In [101]:
# tuple
a = (11,22,33,44,22)
a.index(22)

1

In [102]:
# max : returns maximum value
# works with list and tuple both
max((1,2,3,410000))

410000

In [104]:
# min : returns minimum value
# works with list and tuple both
min((1,2,3, -1))

-1

In [106]:
len((1,2,3,4,5000))

5

In [107]:
# slicing concept in tuple is same as list
a = (11, 22, 33, 44, 55, 66)
a[1:5]

(22, 33, 44, 55)

In [109]:
a[1:7:2]  # a[1], a[3], a[5]

(22, 44, 66)

In [110]:
a[::-1]  # reverses the list or tuple or string

(66, 55, 44, 33, 22, 11)

In [112]:
# concatenation
a = (1,2)
b = (3,4)
c = a + b
c # new tuple

(1, 2, 3, 4)

In [113]:
# repetition
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [115]:
# membership testing
a = (1, 2, 3)
1 in a

True

In [116]:
# tuple can't be modified(but list within a tuple can be modified)
a = (1,2,3)
a[0]

1

In [117]:
a[0] = "trying to modify tuple, not possible"

TypeError: 'tuple' object does not support item assignment

### exception: Although tuples can't be modified but list within a tuple can be modified

In [118]:
a = (1,2,3, [4, 5, 6])
a[0] = "hello"

TypeError: 'tuple' object does not support item assignment

In [119]:
a[-1][0] = "bingo" # but nested list can be modified.

In [120]:
a

(1, 2, 3, ['bingo', 5, 6])

### converting list to tuple or vice-versa

In [121]:
my_tuple = (1,2,3)
a = list(my_tuple)
print(type(a))
print(a)

<class 'list'>
[1, 2, 3]

In [122]:
# list to tuple using tuple() function
my_list = [11, 22, 33]
my_tuple = tuple(my_list)
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
(11, 22, 33)